

<div class="container-cards">

  <% @cocktails.each do |c| %>
    <div  data-aos="zoom-in"
     data-aos-offset="300"
     data-aos-easing="ease-in">
      <div class="box-cards">
        <div class="card-display">
          <div class="card-background">

            <img class="card-image" src="https://source.unsplash.com/featured/?{cocktail}?sig=" alt="Card image cap">
              <div class="card-content">
                <h5 class="card-cocktail-title"><%= link_to c.name, cocktail_path(c)%></h5>
                <p class="card-info"><ul>
                <% c.doses.each do |dose| %>
                  <li><%= dose.ingredient.name %> : <%= dose.description %>( <%= link_to 'Delete? 🗑', dose_path(dose), method: :delete %> )</li>
                <% end %>
                </ul></p>
                <button class="btn btn-warning"><%= link_to 'Edit Cocktail', cocktail_path(c)%></button>
              </div>

            </div>
          </div>
      </div>
    </div>
  <% end %>
</div>

<%# <h1> Mr Cocktail </h1>

<button><%= link_to 'Create a cocktail', new_cocktail_path %><%#</button>

<%# <ul> <% @cocktails.each do |c| %>
<%# <li> <%= link_to c.name, cocktail_path(c) %>
<%#</li>
 <% end%><%#</ul> %>
