 </h2><%= @cocktail.name %></h2>

 <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.association :ingredient, as: :select %>
        <%= f.label :description %>
        <%= f.text_field :description %>
        <%= f.input :photo, as: :file %>
        <%= f.submit "Add ingredient" %>
        <% end %>
        <br>